body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:942px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1752 {
  position:absolute;
  left:124px;
  top:206px;
  width:386px;
  height:942px;
}
#u1753 {
  position:absolute;
  left:2px;
  top:463px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:384px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1754 {
  position:absolute;
  left:133px;
  top:598px;
  width:363px;
  height:384px;
}
#u1755 {
  position:absolute;
  left:2px;
  top:184px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  height:153px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1756 {
  position:absolute;
  left:124px;
  top:8px;
  width:705px;
  height:153px;
}
#u1757 {
  position:absolute;
  left:2px;
  top:68px;
  width:701px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1758 {
  position:absolute;
  left:227px;
  top:20px;
  width:99px;
  height:17px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1759 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1760 {
  position:absolute;
  left:366px;
  top:34px;
  width:0px;
  height:0px;
}
#u1760_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:123px;
  height:8px;
}
#u1760_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1760_seg2 {
  position:absolute;
  left:104px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1761 {
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1762 {
  position:absolute;
  left:371px;
  top:137px;
  width:0px;
  height:0px;
}
#u1762_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:123px;
  height:8px;
}
#u1762_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1762_seg2 {
  position:absolute;
  left:105px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1763 {
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1764 {
  position:absolute;
  left:371px;
  top:81px;
  width:0px;
  height:0px;
}
#u1764_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:123px;
  height:8px;
}
#u1764_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1764_seg2 {
  position:absolute;
  left:105px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1765 {
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1766 {
  position:absolute;
  left:227px;
  top:115px;
  width:115px;
  height:34px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1767 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u1768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1768 {
  position:absolute;
  left:227px;
  top:61px;
  width:115px;
  height:34px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1769 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u1770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1770 {
  position:absolute;
  left:709px;
  top:26px;
  width:82px;
  height:69px;
  opacity:0.4;
}
#u1771 {
  position:absolute;
  left:2px;
  top:26px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1772 {
  position:absolute;
  left:619px;
  top:51px;
  width:57px;
  height:17px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1773 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1774 {
  position:absolute;
  left:146px;
  top:17px;
  width:31px;
  height:116px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1775 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u1776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:133px;
}
#u1776 {
  position:absolute;
  left:187px;
  top:18px;
  width:1px;
  height:132px;
}
#u1777 {
  position:absolute;
  left:2px;
  top:58px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2053px;
  height:2px;
}
#u1778 {
  position:absolute;
  left:408px;
  top:160px;
  width:2052px;
  height:1px;
}
#u1779 {
  position:absolute;
  left:2px;
  top:-8px;
  width:2048px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1780 {
  position:absolute;
  left:610px;
  top:1880px;
  width:66px;
  height:25px;
}
#u1781 {
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u1782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1782 {
  position:absolute;
  left:796px;
  top:1906px;
  width:65px;
  height:16px;
}
#u1783 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1784 {
  position:absolute;
  left:588px;
  top:1964px;
  width:0px;
  height:0px;
}
#u1784_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:341px;
  height:8px;
}
#u1784_seg1 {
  position:absolute;
  left:333px;
  top:-33px;
  width:8px;
  height:37px;
}
#u1784_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1784_seg3 {
  position:absolute;
  left:327px;
  top:-40px;
  width:20px;
  height:21px;
}
#u1785 {
  position:absolute;
  left:135px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1786 {
  position:absolute;
  left:582px;
  top:2171px;
  width:0px;
  height:0px;
}
#u1786_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:305px;
  height:8px;
}
#u1786_seg1 {
  position:absolute;
  left:297px;
  top:-115px;
  width:8px;
  height:119px;
}
#u1786_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1786_seg3 {
  position:absolute;
  left:291px;
  top:-122px;
  width:20px;
  height:21px;
}
#u1787 {
  position:absolute;
  left:158px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1788 {
  position:absolute;
  left:573px;
  top:897px;
  width:320px;
  height:57px;
  font-size:16px;
}
#u1789 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u1790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1790 {
  position:absolute;
  left:896px;
  top:1996px;
  width:143px;
  height:22px;
  font-size:16px;
}
#u1791 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u1792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1792 {
  position:absolute;
  left:976px;
  top:1425px;
  width:250px;
  height:19px;
  font-size:16px;
}
#u1793 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  white-space:nowrap;
}
#u1794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1794 {
  position:absolute;
  left:573px;
  top:362px;
  width:317px;
  height:57px;
  font-size:16px;
}
#u1795 {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  word-wrap:break-word;
}
#u1796 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:28px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1797 {
  position:absolute;
  left:603px;
  top:449px;
  width:138px;
  height:40px;
}
#u1798 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  word-wrap:break-word;
}
#u1799 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1800 {
  position:absolute;
  left:623px;
  top:459px;
  width:20px;
  height:20px;
}
#u1801 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1802 {
  position:absolute;
  left:124px;
  top:206px;
  width:386px;
  height:50px;
}
#u1803 {
  position:absolute;
  left:2px;
  top:17px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1804 {
  position:absolute;
  left:138px;
  top:220px;
  width:89px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1805 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u1806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:31px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1806 {
  position:absolute;
  left:396px;
  top:216px;
  width:100px;
  height:31px;
}
#u1807 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u1808 {
  position:absolute;
  left:446px;
  top:220px;
  width:1px;
  height:22px;
}
#u1809 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1810 {
  position:absolute;
  left:411px;
  top:220px;
  width:25px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1811 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1812 {
  position:absolute;
  left:457px;
  top:224px;
  width:20px;
  height:20px;
}
#u1813 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
  line-height:28px;
}
#u1814 {
  position:absolute;
  left:260px;
  top:274px;
  width:113px;
  height:48px;
  font-size:16px;
  text-align:center;
  line-height:28px;
}
#u1815 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1816 {
  position:absolute;
  left:278px;
  top:1043px;
  width:40px;
  height:40px;
}
#u1817 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1818 {
  position:absolute;
  left:278px;
  top:1101px;
  width:43px;
  height:16px;
}
#u1819 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1820 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1821 {
  position:absolute;
  left:335px;
  top:362px;
  width:127px;
  height:34px;
}
#u1822 {
  position:absolute;
  left:2px;
  top:9px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1823 {
  position:absolute;
  left:351px;
  top:366px;
  width:30px;
  height:30px;
}
#u1824 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1825 {
  position:absolute;
  left:381px;
  top:371px;
  width:57px;
  height:16px;
}
#u1826 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:197px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u1827 {
  position:absolute;
  left:146px;
  top:632px;
  width:321px;
  height:197px;
  line-height:28px;
}
#u1828 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  word-wrap:break-word;
}
#u1829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1829 {
  position:absolute;
  left:187px;
  top:1002px;
  width:239px;
  height:16px;
  color:#666666;
}
#u1830 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u1831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1831 {
  position:absolute;
  left:287px;
  top:910px;
  width:30px;
  height:30px;
}
#u1832 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1833 {
  position:absolute;
  left:314px;
  top:913px;
  width:0px;
  height:0px;
}
#u1833_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:10px;
}
#u1833_seg1 {
  position:absolute;
  left:-4px;
  top:2px;
  width:252px;
  height:8px;
}
#u1833_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u1833_seg3 {
  position:absolute;
  left:234px;
  top:-4px;
  width:21px;
  height:20px;
}
#u1834 {
  position:absolute;
  left:71px;
  top:-2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1835 {
  position:absolute;
  left:154px;
  top:353px;
  width:57px;
  height:16px;
}
#u1836 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:2px;
}
#u1837 {
  position:absolute;
  left:146px;
  top:406px;
  width:311px;
  height:1px;
}
#u1838 {
  position:absolute;
  left:2px;
  top:-8px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1839_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:176px;
  height:6px;
}
#u1839 {
  position:absolute;
  left:146px;
  top:406px;
  width:173px;
  height:3px;
}
#u1840 {
  position:absolute;
  left:2px;
  top:-6px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1841 {
  position:absolute;
  left:154px;
  top:380px;
  width:133px;
  height:16px;
}
#u1842 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u1843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1843 {
  position:absolute;
  left:146px;
  top:429px;
  width:57px;
  height:16px;
}
#u1844 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:2px;
}
#u1845 {
  position:absolute;
  left:146px;
  top:484px;
  width:308px;
  height:1px;
}
#u1846 {
  position:absolute;
  left:2px;
  top:-8px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1847_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:168px;
  height:6px;
}
#u1847 {
  position:absolute;
  left:146px;
  top:484px;
  width:165px;
  height:3px;
}
#u1848 {
  position:absolute;
  left:2px;
  top:-6px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1849 {
  position:absolute;
  left:146px;
  top:506px;
  width:57px;
  height:16px;
}
#u1850 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:2px;
}
#u1851 {
  position:absolute;
  left:146px;
  top:564px;
  width:308px;
  height:1px;
}
#u1852 {
  position:absolute;
  left:2px;
  top:-8px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1853_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:168px;
  height:6px;
}
#u1853 {
  position:absolute;
  left:146px;
  top:564px;
  width:165px;
  height:3px;
}
#u1854 {
  position:absolute;
  left:2px;
  top:-6px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1855 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1856 {
  position:absolute;
  left:338px;
  top:440px;
  width:127px;
  height:34px;
}
#u1857 {
  position:absolute;
  left:2px;
  top:9px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1858 {
  position:absolute;
  left:354px;
  top:444px;
  width:30px;
  height:30px;
}
#u1859 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1860 {
  position:absolute;
  left:384px;
  top:449px;
  width:57px;
  height:16px;
}
#u1861 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1862 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1863 {
  position:absolute;
  left:330px;
  top:520px;
  width:127px;
  height:34px;
}
#u1864 {
  position:absolute;
  left:2px;
  top:9px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1865 {
  position:absolute;
  left:346px;
  top:524px;
  width:30px;
  height:30px;
}
#u1866 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1867 {
  position:absolute;
  left:376px;
  top:529px;
  width:57px;
  height:16px;
}
#u1868 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1869 {
  position:absolute;
  left:146px;
  top:458px;
  width:133px;
  height:16px;
}
#u1870 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u1871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1871 {
  position:absolute;
  left:146px;
  top:532px;
  width:133px;
  height:16px;
}
#u1872 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u1873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1873 {
  position:absolute;
  left:146px;
  top:612px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1874 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1875 {
  position:absolute;
  left:152px;
  top:839px;
  width:30px;
  height:30px;
}
#u1876 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1877 {
  position:absolute;
  left:192px;
  top:843px;
  width:57px;
  height:21px;
}
#u1878 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:234px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u1879 {
  position:absolute;
  left:569px;
  top:989px;
  width:321px;
  height:234px;
  line-height:28px;
}
#u1880 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  word-wrap:break-word;
}
#u1881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1881 {
  position:absolute;
  left:573px;
  top:1197px;
  width:30px;
  height:30px;
}
#u1882 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1883 {
  position:absolute;
  left:613px;
  top:1201px;
  width:57px;
  height:21px;
}
#u1884 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1885 {
  position:absolute;
  left:411px;
  top:379px;
  width:0px;
  height:0px;
}
#u1885_seg0 {
  position:absolute;
  left:-4px;
  top:-7px;
  width:8px;
  height:7px;
}
#u1885_seg1 {
  position:absolute;
  left:-4px;
  top:-7px;
  width:150px;
  height:8px;
}
#u1885_seg2 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u1885_seg3 {
  position:absolute;
  left:132px;
  top:-13px;
  width:21px;
  height:20px;
}
#u1886 {
  position:absolute;
  left:22px;
  top:-11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
