body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  height:153px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1222 {
  position:absolute;
  left:124px;
  top:8px;
  width:705px;
  height:153px;
}
#u1223 {
  position:absolute;
  left:2px;
  top:68px;
  width:701px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1224 {
  position:absolute;
  left:227px;
  top:20px;
  width:99px;
  height:17px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1225 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1226 {
  position:absolute;
  left:366px;
  top:34px;
  width:0px;
  height:0px;
}
#u1226_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:123px;
  height:8px;
}
#u1226_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1226_seg2 {
  position:absolute;
  left:104px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1227 {
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1228 {
  position:absolute;
  left:371px;
  top:137px;
  width:0px;
  height:0px;
}
#u1228_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:123px;
  height:8px;
}
#u1228_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1228_seg2 {
  position:absolute;
  left:105px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1229 {
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1230 {
  position:absolute;
  left:371px;
  top:81px;
  width:0px;
  height:0px;
}
#u1230_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:123px;
  height:8px;
}
#u1230_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1230_seg2 {
  position:absolute;
  left:105px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1231 {
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1232 {
  position:absolute;
  left:227px;
  top:115px;
  width:115px;
  height:34px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1233 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u1234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1234 {
  position:absolute;
  left:227px;
  top:61px;
  width:115px;
  height:34px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1235 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u1236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1236 {
  position:absolute;
  left:709px;
  top:26px;
  width:82px;
  height:69px;
  opacity:0.4;
}
#u1237 {
  position:absolute;
  left:2px;
  top:26px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1238 {
  position:absolute;
  left:619px;
  top:51px;
  width:57px;
  height:17px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1239 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1240 {
  position:absolute;
  left:146px;
  top:17px;
  width:31px;
  height:116px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1241 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u1242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:133px;
}
#u1242 {
  position:absolute;
  left:187px;
  top:18px;
  width:1px;
  height:132px;
}
#u1243 {
  position:absolute;
  left:2px;
  top:58px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2053px;
  height:2px;
}
#u1244 {
  position:absolute;
  left:408px;
  top:160px;
  width:2052px;
  height:1px;
}
#u1245 {
  position:absolute;
  left:2px;
  top:-8px;
  width:2048px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1246 {
  position:absolute;
  left:590px;
  top:289px;
  width:547px;
  height:38px;
  font-size:16px;
}
#u1247 {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  word-wrap:break-word;
}
#u1248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1248 {
  position:absolute;
  left:573px;
  top:1268px;
  width:449px;
  height:38px;
  font-size:16px;
}
#u1249 {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  word-wrap:break-word;
}
#u1250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1250 {
  position:absolute;
  left:590px;
  top:356px;
  width:631px;
  height:38px;
  font-size:16px;
}
#u1251 {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  word-wrap:break-word;
}
#u1252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:686px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1252 {
  position:absolute;
  left:124px;
  top:222px;
  width:386px;
  height:686px;
}
#u1253 {
  position:absolute;
  left:2px;
  top:335px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1254 {
  position:absolute;
  left:292px;
  top:277px;
  width:50px;
  height:50px;
}
#u1255 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:31px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1256 {
  position:absolute;
  left:245px;
  top:332px;
  width:133px;
  height:31px;
}
#u1257 {
  position:absolute;
  left:2px;
  top:8px;
  width:129px;
  word-wrap:break-word;
}
#u1258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1258 {
  position:absolute;
  left:172px;
  top:408px;
  width:196px;
  height:16px;
}
#u1259 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u1260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1260 {
  position:absolute;
  left:166px;
  top:483px;
  width:263px;
  height:40px;
  text-align:left;
}
#u1261 {
  position:absolute;
  left:2px;
  top:12px;
  width:259px;
  word-wrap:break-word;
}
#u1262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1262 {
  position:absolute;
  left:166px;
  top:541px;
  width:263px;
  height:40px;
  text-align:left;
}
#u1263 {
  position:absolute;
  left:2px;
  top:12px;
  width:259px;
  word-wrap:break-word;
}
#u1264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1264 {
  position:absolute;
  left:166px;
  top:598px;
  width:263px;
  height:40px;
  text-align:left;
}
#u1265 {
  position:absolute;
  left:2px;
  top:12px;
  width:259px;
  word-wrap:break-word;
}
#u1266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1266 {
  position:absolute;
  left:166px;
  top:654px;
  width:263px;
  height:40px;
  text-align:left;
}
#u1267 {
  position:absolute;
  left:2px;
  top:12px;
  width:259px;
  word-wrap:break-word;
}
#u1268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1268 {
  position:absolute;
  left:124px;
  top:222px;
  width:386px;
  height:50px;
}
#u1269 {
  position:absolute;
  left:2px;
  top:17px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1270 {
  position:absolute;
  left:138px;
  top:236px;
  width:89px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1271 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u1272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:31px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1272 {
  position:absolute;
  left:396px;
  top:232px;
  width:100px;
  height:31px;
}
#u1273 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u1274 {
  position:absolute;
  left:446px;
  top:236px;
  width:1px;
  height:22px;
}
#u1275 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1276 {
  position:absolute;
  left:411px;
  top:236px;
  width:25px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1277 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1278 {
  position:absolute;
  left:457px;
  top:240px;
  width:20px;
  height:20px;
}
#u1279 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:686px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1280 {
  position:absolute;
  left:124px;
  top:944px;
  width:386px;
  height:686px;
}
#u1281 {
  position:absolute;
  left:2px;
  top:335px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1282 {
  position:absolute;
  left:292px;
  top:999px;
  width:50px;
  height:50px;
}
#u1283 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:31px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1284 {
  position:absolute;
  left:245px;
  top:1054px;
  width:133px;
  height:31px;
}
#u1285 {
  position:absolute;
  left:2px;
  top:8px;
  width:129px;
  word-wrap:break-word;
}
#u1286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1286 {
  position:absolute;
  left:172px;
  top:1117px;
  width:196px;
  height:16px;
}
#u1287 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u1288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1288 {
  position:absolute;
  left:166px;
  top:1196px;
  width:263px;
  height:40px;
  text-align:left;
}
#u1289 {
  position:absolute;
  left:2px;
  top:12px;
  width:259px;
  word-wrap:break-word;
}
#u1290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1290 {
  position:absolute;
  left:166px;
  top:1254px;
  width:263px;
  height:40px;
  text-align:left;
}
#u1291 {
  position:absolute;
  left:2px;
  top:12px;
  width:259px;
  word-wrap:break-word;
}
#u1292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1292 {
  position:absolute;
  left:166px;
  top:1311px;
  width:263px;
  height:40px;
  text-align:left;
}
#u1293 {
  position:absolute;
  left:2px;
  top:12px;
  width:259px;
  word-wrap:break-word;
}
#u1294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1294 {
  position:absolute;
  left:166px;
  top:1367px;
  width:263px;
  height:40px;
  text-align:left;
}
#u1295 {
  position:absolute;
  left:2px;
  top:12px;
  width:259px;
  word-wrap:break-word;
}
#u1296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1296 {
  position:absolute;
  left:124px;
  top:944px;
  width:386px;
  height:50px;
}
#u1297 {
  position:absolute;
  left:2px;
  top:17px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1298 {
  position:absolute;
  left:138px;
  top:958px;
  width:89px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1299 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u1300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:31px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1300 {
  position:absolute;
  left:396px;
  top:954px;
  width:100px;
  height:31px;
}
#u1301 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u1302 {
  position:absolute;
  left:446px;
  top:958px;
  width:1px;
  height:22px;
}
#u1303 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1304 {
  position:absolute;
  left:411px;
  top:958px;
  width:25px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1305 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1306 {
  position:absolute;
  left:457px;
  top:962px;
  width:20px;
  height:20px;
}
#u1307 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1308 {
  position:absolute;
  left:293px;
  top:1532px;
  width:40px;
  height:40px;
}
#u1309 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1310 {
  position:absolute;
  left:290px;
  top:1582px;
  width:43px;
  height:12px;
}
#u1311 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:19px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:37px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1312 {
  position:absolute;
  left:172px;
  top:442px;
  width:140px;
  height:19px;
  font-size:12px;
}
#u1313 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u1314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:19px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:37px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1314 {
  position:absolute;
  left:172px;
  top:1143px;
  width:140px;
  height:19px;
  font-size:12px;
}
#u1315 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u1316 {
  position:absolute;
  left:314px;
  top:302px;
  width:0px;
  height:0px;
}
#u1316_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:7px;
}
#u1316_seg1 {
  position:absolute;
  left:-4px;
  top:-1px;
  width:262px;
  height:8px;
}
#u1316_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u1316_seg3 {
  position:absolute;
  left:244px;
  top:-7px;
  width:21px;
  height:20px;
}
#u1317 {
  position:absolute;
  left:78px;
  top:-5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1318 {
  position:absolute;
  left:349px;
  top:345px;
  width:0px;
  height:0px;
}
#u1318_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:19px;
}
#u1318_seg1 {
  position:absolute;
  left:-4px;
  top:11px;
  width:235px;
  height:8px;
}
#u1318_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u1318_seg3 {
  position:absolute;
  left:217px;
  top:5px;
  width:21px;
  height:20px;
}
#u1319 {
  position:absolute;
  left:58px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1320 {
  position:absolute;
  left:284px;
  top:1281px;
  width:0px;
  height:0px;
}
#u1320_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u1320_seg1 {
  position:absolute;
  left:-4px;
  top:1px;
  width:274px;
  height:8px;
}
#u1320_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u1320_seg3 {
  position:absolute;
  left:256px;
  top:-5px;
  width:21px;
  height:20px;
}
#u1321 {
  position:absolute;
  left:82px;
  top:-3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1322 {
  position:absolute;
  left:313px;
  top:1564px;
  width:0px;
  height:0px;
}
#u1322_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:12px;
}
#u1322_seg1 {
  position:absolute;
  left:-4px;
  top:4px;
  width:232px;
  height:8px;
}
#u1322_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u1322_seg3 {
  position:absolute;
  left:214px;
  top:-2px;
  width:21px;
  height:20px;
}
#u1323 {
  position:absolute;
  left:60px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1324 {
  position:absolute;
  left:551px;
  top:1560px;
  width:449px;
  height:19px;
  font-size:16px;
}
#u1325 {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  word-wrap:break-word;
}
