body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2493px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  height:153px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3976 {
  position:absolute;
  left:35px;
  top:7px;
  width:705px;
  height:153px;
}
#u3977 {
  position:absolute;
  left:2px;
  top:68px;
  width:701px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3978 {
  position:absolute;
  left:138px;
  top:19px;
  width:99px;
  height:17px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3979 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u3980 {
  position:absolute;
  left:282px;
  top:29px;
  width:0px;
  height:0px;
}
#u3980_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:123px;
  height:8px;
}
#u3980_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u3980_seg2 {
  position:absolute;
  left:104px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3981 {
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3982 {
  position:absolute;
  left:282px;
  top:136px;
  width:0px;
  height:0px;
}
#u3982_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:123px;
  height:8px;
}
#u3982_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3982_seg2 {
  position:absolute;
  left:105px;
  top:-10px;
  width:21px;
  height:20px;
}
#u3983 {
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3984 {
  position:absolute;
  left:282px;
  top:80px;
  width:0px;
  height:0px;
}
#u3984_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:123px;
  height:8px;
}
#u3984_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3984_seg2 {
  position:absolute;
  left:105px;
  top:-10px;
  width:21px;
  height:20px;
}
#u3985 {
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3986 {
  position:absolute;
  left:138px;
  top:114px;
  width:115px;
  height:34px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3987 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u3988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3988 {
  position:absolute;
  left:138px;
  top:60px;
  width:115px;
  height:34px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3989 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u3990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3990 {
  position:absolute;
  left:515px;
  top:44px;
  width:57px;
  height:17px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3991 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3992 {
  position:absolute;
  left:57px;
  top:16px;
  width:31px;
  height:116px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3993 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u3994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:133px;
}
#u3994 {
  position:absolute;
  left:98px;
  top:17px;
  width:1px;
  height:132px;
}
#u3995 {
  position:absolute;
  left:2px;
  top:58px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2053px;
  height:2px;
}
#u3996 {
  position:absolute;
  left:37px;
  top:159px;
  width:2052px;
  height:1px;
}
#u3997 {
  position:absolute;
  left:2px;
  top:-8px;
  width:2048px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3998 {
  position:absolute;
  left:604px;
  top:18px;
  width:82px;
  height:69px;
  opacity:0.4;
}
#u3999 {
  position:absolute;
  left:2px;
  top:26px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1926px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4001 {
  position:absolute;
  left:35px;
  top:224px;
  width:1200px;
  height:1926px;
}
#u4002 {
  position:absolute;
  left:2px;
  top:955px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:80px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4003 {
  position:absolute;
  left:35px;
  top:224px;
  width:1200px;
  height:80px;
}
#u4004 {
  position:absolute;
  left:2px;
  top:32px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u4005 {
  position:absolute;
  left:153px;
  top:252px;
  width:261px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u4006 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u4007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:912px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4007 {
  position:absolute;
  left:54px;
  top:320px;
  width:179px;
  height:912px;
}
#u4008 {
  position:absolute;
  left:2px;
  top:448px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:1809px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4009 {
  position:absolute;
  left:253px;
  top:320px;
  width:961px;
  height:1809px;
}
#u4010 {
  position:absolute;
  left:2px;
  top:896px;
  width:957px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:81px;
}
#u4011 {
  position:absolute;
  left:35px;
  top:224px;
  width:113px;
  height:80px;
}
#u4012 {
  position:absolute;
  left:2px;
  top:32px;
  width:109px;
  word-wrap:break-word;
}
#u4013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4013 {
  position:absolute;
  left:414px;
  top:244px;
  width:40px;
  height:40px;
}
#u4014 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:36px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4015 {
  position:absolute;
  left:1057px;
  top:247px;
  width:103px;
  height:36px;
  color:#FFFFFF;
}
#u4016 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u4017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4017 {
  position:absolute;
  left:952px;
  top:255px;
  width:82px;
  height:19px;
  font-size:16px;
}
#u4018 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u4019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u4019 {
  position:absolute;
  left:89px;
  top:344px;
  width:35px;
  height:35px;
}
#u4020 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4021 {
  position:absolute;
  left:134px;
  top:350px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4022 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4023 {
  position:absolute;
  left:54px;
  top:727px;
  width:184px;
  height:197px;
}
#u4024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:47px;
}
#u4024 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:47px;
}
#u4025 {
  position:absolute;
  left:2px;
  top:16px;
  width:175px;
  word-wrap:break-word;
}
#u4026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:47px;
}
#u4026 {
  position:absolute;
  left:0px;
  top:47px;
  width:179px;
  height:47px;
}
#u4027 {
  position:absolute;
  left:2px;
  top:16px;
  width:175px;
  word-wrap:break-word;
}
#u4028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u4028 {
  position:absolute;
  left:0px;
  top:94px;
  width:179px;
  height:50px;
}
#u4029 {
  position:absolute;
  left:2px;
  top:17px;
  width:175px;
  word-wrap:break-word;
}
#u4030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:48px;
}
#u4030 {
  position:absolute;
  left:0px;
  top:144px;
  width:179px;
  height:48px;
}
#u4031 {
  position:absolute;
  left:2px;
  top:16px;
  width:175px;
  word-wrap:break-word;
}
#u4032 {
  position:absolute;
  left:54px;
  top:389px;
  width:184px;
  height:55px;
}
#u4033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u4033 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u4034 {
  position:absolute;
  left:2px;
  top:17px;
  width:175px;
  word-wrap:break-word;
}
#u4035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u4035 {
  position:absolute;
  left:89px;
  top:452px;
  width:35px;
  height:35px;
}
#u4036 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4037 {
  position:absolute;
  left:134px;
  top:459px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4038 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4039 {
  position:absolute;
  left:54px;
  top:497px;
  width:184px;
  height:55px;
}
#u4040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u4040 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u4041 {
  position:absolute;
  left:2px;
  top:17px;
  width:175px;
  word-wrap:break-word;
}
#u4042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u4042 {
  position:absolute;
  left:89px;
  top:682px;
  width:35px;
  height:35px;
}
#u4043 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4044 {
  position:absolute;
  left:134px;
  top:689px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4045 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u4046 {
  position:absolute;
  left:89px;
  top:1063px;
  width:35px;
  height:35px;
}
#u4047 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4048 {
  position:absolute;
  left:134px;
  top:1070px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4049 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4050 {
  position:absolute;
  left:54px;
  top:1108px;
  width:184px;
  height:105px;
}
#u4051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u4051 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u4052 {
  position:absolute;
  left:2px;
  top:17px;
  width:175px;
  word-wrap:break-word;
}
#u4053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u4053 {
  position:absolute;
  left:0px;
  top:50px;
  width:179px;
  height:50px;
}
#u4054 {
  position:absolute;
  left:2px;
  top:17px;
  width:175px;
  word-wrap:break-word;
}
#u4055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u4055 {
  position:absolute;
  left:89px;
  top:944px;
  width:35px;
  height:35px;
}
#u4056 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4057 {
  position:absolute;
  left:134px;
  top:951px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4058 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4059 {
  position:absolute;
  left:54px;
  top:989px;
  width:184px;
  height:55px;
}
#u4060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u4060 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u4061 {
  position:absolute;
  left:2px;
  top:17px;
  width:175px;
  word-wrap:break-word;
}
#u4062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4062 {
  position:absolute;
  left:677px;
  top:344px;
  width:113px;
  height:19px;
  font-size:16px;
}
#u4063 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4064 {
  position:absolute;
  left:54px;
  top:613px;
  width:184px;
  height:52px;
}
#u4065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:47px;
}
#u4065 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:47px;
}
#u4066 {
  position:absolute;
  left:2px;
  top:16px;
  width:175px;
  word-wrap:break-word;
}
#u4067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u4067 {
  position:absolute;
  left:98px;
  top:568px;
  width:35px;
  height:35px;
}
#u4068 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4069 {
  position:absolute;
  left:143px;
  top:575px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4070 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  line-height:28px;
}
#u4071 {
  position:absolute;
  left:280px;
  top:573px;
  width:513px;
  height:280px;
  font-size:16px;
  line-height:28px;
}
#u4072 {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  white-space:nowrap;
}
#u4073 {
  position:absolute;
  left:372px;
  top:750px;
  width:728px;
  height:66px;
}
#u4074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u4074 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u4075 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u4076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u4076 {
  position:absolute;
  left:80px;
  top:0px;
  width:80px;
  height:30px;
}
#u4077 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u4078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u4078 {
  position:absolute;
  left:160px;
  top:0px;
  width:80px;
  height:30px;
}
#u4079 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u4080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u4080 {
  position:absolute;
  left:240px;
  top:0px;
  width:80px;
  height:30px;
}
#u4081 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u4082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u4082 {
  position:absolute;
  left:320px;
  top:0px;
  width:80px;
  height:30px;
}
#u4083 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u4084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u4084 {
  position:absolute;
  left:400px;
  top:0px;
  width:80px;
  height:30px;
}
#u4085 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u4086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u4086 {
  position:absolute;
  left:480px;
  top:0px;
  width:80px;
  height:30px;
}
#u4087 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u4088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u4088 {
  position:absolute;
  left:560px;
  top:0px;
  width:80px;
  height:30px;
}
#u4089 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u4090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u4090 {
  position:absolute;
  left:640px;
  top:0px;
  width:83px;
  height:30px;
}
#u4091 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u4092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:31px;
}
#u4092 {
  position:absolute;
  left:0px;
  top:30px;
  width:80px;
  height:31px;
}
#u4093 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u4094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:31px;
}
#u4094 {
  position:absolute;
  left:80px;
  top:30px;
  width:80px;
  height:31px;
}
#u4095 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u4096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:31px;
}
#u4096 {
  position:absolute;
  left:160px;
  top:30px;
  width:80px;
  height:31px;
}
#u4097 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u4098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:31px;
}
#u4098 {
  position:absolute;
  left:240px;
  top:30px;
  width:80px;
  height:31px;
}
#u4099 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u4100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:31px;
}
#u4100 {
  position:absolute;
  left:320px;
  top:30px;
  width:80px;
  height:31px;
}
#u4101 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u4102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:31px;
}
#u4102 {
  position:absolute;
  left:400px;
  top:30px;
  width:80px;
  height:31px;
}
#u4103 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u4104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:31px;
}
#u4104 {
  position:absolute;
  left:480px;
  top:30px;
  width:80px;
  height:31px;
}
#u4105 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u4106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:31px;
}
#u4106 {
  position:absolute;
  left:560px;
  top:30px;
  width:80px;
  height:31px;
}
#u4107 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u4108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:31px;
}
#u4108 {
  position:absolute;
  left:640px;
  top:30px;
  width:83px;
  height:31px;
}
#u4109 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  word-wrap:break-word;
}
#u4110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4110 {
  position:absolute;
  left:280px;
  top:881px;
  width:134px;
  height:35px;
}
#u4111 {
  position:absolute;
  left:2px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u4112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4112 {
  position:absolute;
  left:2477px;
  top:678px;
  width:16px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4113 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u4114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u4114 {
  position:absolute;
  left:2435px;
  top:1270px;
  width:49px;
  height:23px;
  font-size:10px;
}
#u4115 {
  position:absolute;
  left:2px;
  top:5px;
  width:45px;
  word-wrap:break-word;
}
#u4116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4116 {
  position:absolute;
  left:282px;
  top:337px;
  width:233px;
  height:19px;
  font-size:16px;
}
#u4117 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  white-space:nowrap;
}
#u4118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4118 {
  position:absolute;
  left:280px;
  top:413px;
  width:160px;
  height:16px;
}
#u4119 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u4120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4120 {
  position:absolute;
  left:280px;
  top:457px;
  width:34px;
  height:16px;
}
#u4121 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u4122 {
  position:absolute;
  left:386px;
  top:444px;
  width:205px;
  height:95px;
}
#u4123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4123 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4124 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4125 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u4126 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4127 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u4128 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4129 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u4130 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4131 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u4132 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4133 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
}
#u4134 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
